* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background: #030637; 
}

nav {
    box-shadow: 0 0 5px;
    display: flex;
    align-items: center;
    margin-left: 0;
    justify-content: space-between;
    padding-inline: 100px;
    height: 75px;
    position: absolute;
    width: 100vw;

    ul {

        display: flex;
        align-items: center;
        gap: 10px;

        li {
            list-style-type: none;


            a {
                text-decoration: none;
            }
        }
    }
}